{{ ansible_managed | comment }}
[agent]
certname = {{ ansible_fqdn }}
server = {{ puppetmaster }}
{# Si le nom d'hôte contient l'un des motifs vte, vqu ou vpr #}
{% if ansible_hostname | regex_search('-(vte|vqu|vpr)-') %}
{# Extraire la partie correspondant à vte, vqu ou vpr du nom d'hôte #}
{% set environment = ansible_hostname | regex_replace('.*-(vte|vqu|vpr)-.*', '\\1') %}
{# Si l'environnement est vte #}
{% if environment == 'vte' %}
environment= test
{% elif environment == 'vqu' %}
environment= qualification
{% elif environment == 'vpr' %}
environment= production
{% endif %}
{# Si le nom d'hôte ne contient pas vte, vqu ou vpr #}
{% else %}
environment= dev
{% endif %}
runinterval = 30m
