{{ ansible_managed | comment }}

[sssd]
config_file_version = 2
services = nss, pam
domains = {{ ldap_domain }}

[nss]
override_shell = {{ override_shell }}

[pam]
offline_credentials_expiration = 60

[domain/{{ ldap_domain }}]
{# connection configuration #}
ldap_id_use_start_tls = true
cache_credentials = true
id_provider = ldap
auth_provider = ldap
sudo_provider = none
chpass_provider = ldap
ldap_schema = {{ ldap_schema }}
ldap_user_object_class = inetOrgPerson
ldap_default_authtok_type = {{ ldap_default_authtok_type }}
ldap_uri = {{ ldap_uri }}
ldap_chpass_uri = {{ ldap_chpass_uri }}
ldap_default_bind_dn = {{ ldap_default_bind_dn }}
ldap_default_authtok = {{ ldap_default_authtok }}

{# search configuration #}
ldap_search_base = {{ ldap_search_base }}
ldap_user_search_base = {{ ldap_user_search_base }}
ldap_group_search_base = {{ ldap_group_search_base }}
ldap_user_name = {{ ldap_user_name }}
ldap_user_uid_number = {{ ldap_user_uid_number }}
ldap_user_gecos = {{ ldap_user_gecos }}
ldap_tls_reqcert = {{ ldap_tls_reqcert }}
ldap_search_timeout = {{ ldap_search_timeout }}
ldap_network_timeout = {{ ldap_network_timeout }}
ldap_pwd_policy = {{ ldap_pwd_policy }}
access_provider = simple
simple_allow_groups = {{ simple_allow_groups }}
override_shell = {{ override_shell }}
