{{ ansible_managed | comment }}

{# Commandes en RESEAU #}
Cmnd_Alias NET = /usr/bin/ping, /usr/sbin/route, /usr/bin/ftp, /usr/sbin/ifconfig, /usr/sbin/arp, /usr/bin/netstat, /usr/sbin/rarp, /usr/sbin/nameif, /usr/sbin/route, /usr/sbin/plipconfig, /usr/sbin/slattach, /usr/sbin/mii-tool, /usr/sbin/iptunnel, /usr/sbin/ipmaddr

{# Commandes en RW #}
Cmnd_Alias CMNDRW = /bin/mc, /bin/nano, /usr/bin/vi, /usr/bin/vim, /bin/cat, /usr/bin/less, /usr/bin/tail

{# Commandes interdites #}	
Cmnd_Alias CMNDKO = !/sbin/shutdown, !/sbin/halt, !/sbin/reboot

%eq-res ALL=(ALL) NOPASSWD:CMNDRW, NET
%eq-res ALL=(ALL) CMDKO
